:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --base-margin: 10px;
    --font-size: 20px;
    --font-relaway: "Raleway", sans-serif;
    --font-openSans: "Open Sans", sans-serif;

}
.container {
    width: 1352px;
    margin: 0 auto;
}
header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.logo {
    font-size: 32px;
    color: var(--color-primary);
    font-family: var(--font-relaway);
    font-weight: 300;
    text-decoration: none;

}
.menu {
    display: flex;
}
.menu__link {
    font-family: var(--font-openSans);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    font-size: 11px;
    font-weight: 700;
    padding: 28px 18px 22px;
    letter-spacing: 3.28px;
    border-bottom: 4px solid transparent;
}
.menu__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.menu__item {
    padding: 0 26px;
}
.menu__item:last-child {
    padding-right: 0;
}
.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening-content {
    margin-top: 130px;
    text-align: center;
}
.opening-title {
    font-size: 49px;
    font-family: var(--font-relaway);

}
.opening-text {
    font-family: var(--font-openSans);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 38px;
}
.opening-background {
    width: 100%;
    height: auto;
}
.opening-button {
    text-decoration: none;
    font-family: var(--font-openSans);
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 40px;
    padding: 22px 157px;
    display: inline-block;
    box-shadow: 3px 10px 14px #07ACE629;

}