:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --base-margin: 10px;
    --font-size: 20px;
    --font-relaway: "Raleway", sans-serif;
    --font-openSans: "Open Sans", sans-serif;

}
.container {
    width: 1352px;
    margin: 0 auto;
}
header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;

}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.logo {
    font-size: 32px;
    color: var(--color-primary);
    font-family: var(--font-relaway);
    font-weight: 300;
    text-decoration: none;

}
.menu {
    display: flex;
}
.menu__link {
    font-family: var(--font-openSans);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey);
    font-size: 11px;
    font-weight: 700;
    padding: 28px 18px 22px;
    letter-spacing: 3.28px;
    border-bottom: 4px solid transparent;
}
.menu__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.menu__item {
    padding: 0 26px;
}
.menu__item:last-child {
    padding-right: 0;
}
.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opening-content {
    margin-top: 130px;
    text-align: center;
}
.opening-title {
    font-size: 49px;
    font-family: var(--font-relaway);

}
.opening-text {
    font-family: var(--font-openSans);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 38px;
}
.opening-background {
    width: 100%;
    height: auto;
}
.opening-button {
    text-decoration: none;
    font-family: var(--font-openSans);
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 40px;
    padding: 22px 157px;
    display: inline-block;
    box-shadow: 3px 10px 14px #07ACE629;

}
.statistics {
    margin-top: 100px;

}
.statistics-container {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 120px;
    max-width: 800px;

}

h2 {
    font-size: 36px;
    font-family: var(--font-relaway);
    text-align: center;
}

.statistics-column {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-relaway);

}

.column-circle-1 {
    border-radius: 50%;
    background-color: var(--color-redish);
    width: 62px;
    height: 62px;
    position: relative;
    top: 0;
    left: 45%;
    justify-content: center;

}
.column-circle-2 {
    border-radius: 50%;
    background-color: var(--color-primary);
    width: 62px;
    height: 62px;
    position: relative;
    top: 15px;
    left: 45%;
}
.column-circle-3 {
    border-radius: 50%;
    background-color: var(--color-green);
    width: 62px;
    height: 62px;
    position: relative;
    top: 6px;
    left: 50%;

}
.column-img {
    position: absolute;
}
.statistics-numbers {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 6px;
    margin-top: 13px;
}
.statistics-text {
    color: var(--color-grey);
    margin-top: 19px;
}
.benefits {
    background-color: var(--color-light-grey);
    padding-top: 105px;
}
.benefits-container {
    max-width: 1124px;
    height: 1395px;

}
.benefits-box {
    height: 370px;
    display: flex;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    justify-content: space-between;
    margin-bottom: 37px;

}
.benefits-article {
    width: 416px;
    height: 188px;
    margin: 91px 20px 91px 35px;

}
.benefits-article:after {
    content: "";
    width: 330px;
    height:5px;
    border-bottom: 3px solid var(--color-redish);
    display: block;
}

.benefits-header {
    text-align: left;
}
.benefits-text {
    font-family: var(--font-openSans);
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 22px;
}
.benefits-media {
    width: 433px;
    height: 294px;
    position: absolute;


}
.benefits-img {
    width: 386px;
    height: 219px;
    position: relative;
    z-index: 2;
    top: 113px;
    left: 620px;

}
.benefits-shape {
    width: 180px;
    height: 180px;
    background-color: var(--color-redish);
    border-radius: 41px;
    transform: rotate(45deg);
    position: relative;
    bottom:calc(77px + 71px);
    left: calc(798px + 71px);

}

.benefits-img-2 {
    width: 426px;
    height: 328px;
    position: absolute;
    z-index: 2;

}
.benefits-media-2 {
    width: 426px;
    height: 345px;
    margin-left: 70px;
    margin-top: 29px;


}

.benefits-shape-2 {
    width: 320px;
    height: 320px;
    background-color: #07ACE6;
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
}
.article-2 {
     height: 230px;
     margin: 69px 20px 71px 192px;

 }
.article-2:after {
    content: "";
    width: 330px;
    height: 5px;
    border-bottom: 3px solid var(--color-primary);
    display: block;
}

.benefits-double {
    display: flex;

}

.benefits-box.box-3 {
    max-width: 623px;





}
.article-3 {
    width: 554px;
    height: 230px;
    margin: 69px 35px 70px 35px;
}
.article-3:after {
    content: "";
    width: 330px;
    height: 5px;
    border-bottom: 3px solid var(--color-green);
    display: block;
}

.benefits-media-3 {
    width: 440px;
    height: 370px;
    border-radius: 5px;
    background-color: var(--color-green);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-left: 60px;


}
.benefits-img-3 {
    width: 295px;
    height: auto;
    margin-top: 55px;
}